Checks: >-
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-derived-method-shadowing-base-method,
  -bugprone-lambda-function-name,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-throwing-static-initialization,
  clang-diagnostic-*,
  clang-analyzer-.*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  performance-*,
  -performance-enum-size,
  google-default-arguments,
  google-global-names-in-headers,
  google-explicit-constructor,
  google-readability-casting,
  misc-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-override-with-different-visibility,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-constraints,
  -modernize-use-integer-sign-comparison,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  readability-*,
  -readability-braces-around-statements,
  -readability-container-contains,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-redundant-access-specifiers,
  -readability-redundant-typename,
  -readability-uppercase-literal-suffix,

CheckOptions:
  # `cppcoreguidelines-special-member-functions` is enabled, refer to https://en.cppreference.com/w/cpp/language/rule_of_three
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           True
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           False
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
    value:           True
  - key:             modernize-use-scoped-lock.WarnOnSingleLocks
    value:           False
