# reference: https://www.appveyor.com/docs/appveyor-yml/

version: 0.3.{build}

# build all branches by default

image: Visual Studio 2017
platform: x64
configuration: Debug

clone_folder: c:\projects\onnx
clone_depth: 2

# pick as per https://www.appveyor.com/docs/build-environment/#python
environment:
  global:
    ONNX_NAMESPACE: ONNX_NAMESPACE_FOO_BAR_FOR_CI

  matrix:
  - CONDA_PREFIX: C:\Miniconda36-x64
    ONNX_VERIFY_PROTO3: 1

  - CONDA_PREFIX: C:\Miniconda36

  - CONDA_PREFIX: C:\Miniconda37-x64

  - CONDA_PREFIX: C:\Miniconda37

install:
- cmd: git submodule update --init --recursive

before_build:
#TODO:We should put libprotobuf.dll within onnx's package.
#Then we don't need to add %CONDA_PREFIX%\Library\bin at here
- cmd: SET PATH=%CONDA_PREFIX%;%CONDA_PREFIX%\Scripts;%CONDA_PREFIX%\Library\bin;%PATH%
- cmd: SET _prefix=%CONDA_PREFIX:~0,14%
- cmd: SET _arch=%CONDA_PREFIX:~15,18%
- cmd: conda install -y libprotobuf=3.11.3 protobuf=3.11.3 numpy
- >

  IF "%_prefix%"=="C:\Miniconda37"
  (
  set "PATH=%PATH%;%CONDA_PREFIX%\Library\bin"
  )

- cmd: pip install --quiet pytest nbval numpy

build_script:
# Build and test onnx.
- cmd: cd c:\projects\onnx
- cmd: set ONNX_BUILD_TESTS=1
#The latest libprotobuf Windows packages in anaconda was built with          
#        -Dprotobuf_BUILD_SHARED_LIBS=ON 
#        -Dprotobuf_MSVC_STATIC_RUNTIME=OFF
#We must align with them. We must set USE_MSVC_STATIC_RUNTIME and 
#ONNX_USE_PROTOBUF_SHARED_LIBS based on their config
- cmd: set USE_MSVC_STATIC_RUNTIME=0
# Don't put quotation marks in the following line
- cmd: set CMAKE_ARGS=-DONNX_USE_PROTOBUF_SHARED_LIBS=ON -DProtobuf_USE_STATIC_LIBS=OFF -DONNX_USE_LITE_PROTO=ON
- cmd: python setup.py --quiet bdist_wheel --universal --dist-dir .
- cmd: dir /s /b /a-d "onnx_gtests.exe" >UT.txt & set /p _UT= < UT.txt & %_UT%
- cmd: dir /b /a-d "*.whl" >WheelFile.txt & set /p _wheel= < WheelFile.txt
- cmd: pip install %_wheel%
- cmd: pytest
- cmd: python onnx/defs/gen_doc.py
- cmd: python onnx/gen_proto.py
# Run type checks
- cmd: pip uninstall -y %_wheel%
- cmd: rm -rf .setuptools-cmake-build
- cmd: pip install --quiet -e .[mypy]
- cmd: python setup.py typecheck
# TODO: protobuf files generated by generate-data below show format diffs right now.
# Will figure out and fix it in separate PR.
#- cmd: C:\Miniconda36\Scripts\backend-test-tools generate-data
- cmd: git diff --exit-code

# add after_test commands to collect logs and such
# add artifacts: -path to collect build artifacts

# commented out to avoid comments on threads
# notifications:
# - provider: GitHubPullRequest
#   on_build_success: true
#   on_build_failure: true
#   on_build_status_changed: true
