# reference: https://www.appveyor.com/docs/appveyor-yml/

version: 0.3.{build}

# build all branches by default

image: Visual Studio 2017
platform: x64
configuration: Debug

clone_folder: c:\projects\onnx
clone_depth: 2

# pick as per https://www.appveyor.com/docs/build-environment/#python
environment:
  ONNXPY_DIR: C:\Python36
  CONDA_PREFIX: C:\Miniconda36
  ONNX_NAMESPACE: ONNX_NAMESPACE_FOO_BAR_FOR_CI

  matrix:
  # onnx
  - ONNX_ML: 0

  # onnx-ml
  - ONNX_ML: 1

install:
- cmd: git submodule update --init --recursive

before_build:
- cmd: C:\Miniconda36\Scripts\conda install -y -c conda-forge protobuf numpy
- cmd: C:\Miniconda36\Scripts\pip install pytest-cov nbval

build_script:
# Build and test onnx.
- cmd: cd c:\miniconda36\lib\site-packages
- cmd: dir /ad /b /s
- cmd: dir /a-d /b /s
- cmd: cd C:\
- cmd: dir /ad /b /s
- cmd: dir /a-d /b /s
#- cmd: dir /s protoc_gen_mypy.bat
- cmd: C:\Miniconda36\Scripts\pip install -e c:\projects\onnx\
- cmd: cd c:\projects\onnx
- cmd: dir /ad /b /s
- cmd: dir /a-d /b /s
- cmd: C:\Miniconda36\Scripts\pytest
- cmd: C:\Miniconda36\python onnx/defs/gen_doc.py
- cmd: C:\Miniconda36\python onnx/gen_proto.py
# TODO: protobuf files generated by generate-data below show format diffs right now.
# Will figure out and fix it in separate PR.
#- cmd: C:\Miniconda36\Scripts\backend-test-tools generate-data
- cmd: git diff --exit-code

# add after_test commands to collect logs and such
# add artifacts: -path to collect build artifacts

# commented out to avoid comments on threads
# notifications:
# - provider: GitHubPullRequest
#   on_build_success: true
#   on_build_failure: true
#   on_build_status_changed: true
