recursive-include onnx *.h *.c *.cc *.proto
recursive-include third_party *
include LICENSE
recursive-include onnx/backend/test/data *
recursive-include onnx/examples *
recursive-include cmake *
recursive-include tools *
include VERSION_NUMBER
include CMakeLists.txt
