# Relax pylint for lintrunner and CI.
# Exclude patterns should be modified in .lintrunner.toml

[tool.pylint.messages_control]
disable = [
    "arguments-differ",  # The reference runtime tend to use inheritance and redefine methods.
    "cyclic-import",
    "fixme",
    "format",
    "import-error",
    "invalid-name",  # TODO: Add naming guidance and enable this check.
    "line-too-long",
    "missing-docstring",
    "no-else-return",
    "no-member",
    "no-name-in-module",
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-instance-attributes",
    "too-many-lines",
    "too-many-locals",
    "too-many-public-methods",
    "too-many-return-statements",
    "use-dict-literal",  # Dict literals are sometimes preferable when creating kwargs
    "useless-return",
    "wrong-import-order",
]
