# This file is auto updated by dependabot
lintrunner-adapters>=0.12.3
# RUFF
ruff==0.3.5
# MYPY
mypy==1.9.0
types-protobuf==4.24.0.20240129
# BLACK-ISORT
black==24.3.0
isort==5.13.2
# CLANG-FORMAT
clang-format==17.0.6
# EDITORCONFIG-CHECKER
editorconfig-checker==2.7.3
