build
numpy>=1.23.2
protobuf>=6.33.1
pytest
pytest-cov
pytest-xdist
lintrunner>=0.13.1
lintrunner-adapters>=0.14.1
# Edit additional linter dependencies in requirements-lintrunner.txt
# Dependencies for the reference implementation.
Pillow>=12.2.0
