# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

build
cmake
numpy
parameterized
protobuf
pytest
pytest-cov
pytest-xdist
setuptools
ml_dtypes
# nbval # 2025.03.06: cannot be installed because of conflicting dependencies: ipython, jupyter_client
