build
ipython
nbval
numpy==1.24.3; python_version<"3.9"
numpy==2.0.0; python_version>="3.9"
parameterized
protobuf==5.28.3
pytest
pytest-cov
pytest-xdist
setuptools
twine
wheel
# Dependencies for the reference implementation.
-r requirements-reference.txt
