build
jupyter
nbval
numpy
parameterized
protobuf
pytest
pytest-cov
pytest-xdist
setuptools
twine
wheel
# Dependencies for linting. Versions match those in setup.py.
lintrunner>=0.10.7
lintrunner-adapters>=0.8
# Edit additional linter dependencies in requirements-lintrunner.txt
# Dependencies for the reference implementation.
-r requirements-reference.txt
