build
# 2025.03.05 nbval causes => Cannot install ipykernel and jupyter-client because these package versions have conflicting dependencies
numpy
parameterized
protobuf
pytest
pytest-cov
pytest-xdist
setuptools
ml_dtypes
