build
ipython; python_version<"3.13"
nbval; python_version<"3.13"
numpy==1.24.3; python_version<"3.9"
numpy==2.0.0; python_version >= "3.9" and python_version < "3.13"
numpy==2.1.0; python_version>="3.13"
parameterized
protobuf==4.21.12; python_version<"3.12"
protobuf==4.25.1; python_version>="3.12"
pytest
pytest-cov
pytest-xdist
setuptools
twine
wheel
# Dependencies for the reference implementation.
-r requirements-reference.txt
