# Minimum package versions that ONNX supports
# Since we use ml_dtypes, the numpy version is mainly 
# defined by https://github.com/jax-ml/ml_dtypes/blob/main/pyproject.toml .
protobuf==4.25.1; python_version<"3.14" or sys_platform != "darwin"
protobuf==6.31.0; python_version>="3.14" and sys_platform == "darwin"
numpy==1.23.2; python_version=="3.10"
numpy==1.23.2; python_version=="3.11"
numpy==1.26.0; python_version=="3.12"
numpy==2.1.0; python_version=="3.13"
numpy==2.3.2; python_version>="3.14"
