# Minimum package versions that ONNX supports
# https://endoflife.date/numpy
protobuf==4.25.1
numpy==1.25.2; python_version<="3.11"
numpy==1.26.4; python_version=="3.12"
numpy==2.1.0; python_version>="3.13"
