codecov
coverage
flake8
joblib
loky
markupsafe
matplotlib
mlinsights
mlprodict
myst-parser
nbsphinx
onnx
onnxruntime
pillow
py-spy
pandas
pyinstrument
pyquickhelper>=1.9.3359
pytest
pytest-cov
scikit-learn
skl2onnx
sphinx
sphinxcontrib-blockdiag
sphinx_bootstrap_theme
sphinx-gallery
tqdm
wheel
