
furo
markupsafe
matplotlib
myst-parser[linkify]
onnx
onnxruntime<1.20;python_version<"3.13"
onnxruntime;python_version>="3.13"
pillow
pydot
sphinx-copybutton
sphinx-exec-code
sphinx-gallery
sphinx-tabs
sphinx
