trigger:
- master

jobs:
- job: 'Test'
  pool:
    vmImage: 'Ubuntu-18.04'
  strategy:
    matrix:
      py36:
        python.version: '3.6'
        onnx_ml: 0
        onnx_debug: 0
        onnx_lite: 1
      py36-ml:
        python.version: '3.6'
        onnx_ml: 1
        onnx_debug: 0
        onnx_lite: 1
      py37:
        python.version: '3.7'
        onnx_ml: 0
        onnx_debug: 0
        onnx_lite: 1
      py37-ml:
        python.version: '3.7'
        onnx_ml: 1
        onnx_debug: 0
        onnx_lite: 1
      py37-ml-debug:
        python.version: '3.7'
        onnx_ml: 1
        onnx_debug: 1
        onnx_lite: 0
    maxParallel: 6

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      addToPath: true

  - script: |
      python -m pip -q install virtualenv
      python -m virtualenv py$(python.version)
      source py$(python.version)/bin/activate

      git clone https://github.com/protocolbuffers/protobuf.git
      cd protobuf
      git checkout v3.16.0
      git submodule update --init --recursive
      mkdir build_source && cd build_source

      cmake ../cmake -Dprotobuf_BUILD_SHARED_LIBS=OFF -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_INSTALL_SYSCONFDIR=/etc -DCMAKE_POSITION_INDEPENDENT_CODE=ON -Dprotobuf_BUILD_TESTS=OFF -DCMAKE_BUILD_TYPE=Release
      make -j$(nproc)
      sudo make install
      cd ../..

      python -m pip install -q --upgrade pip
      python -m pip install -q -r requirements-release.txt

      sudo apt-get install -qq -o=Dpkg::Use-Pty=0 -y --no-install-recommends dos2unix
      git submodule update --init --recursive
      export ONNX_BUILD_TESTS=1
      if [ '$(onnx_debug)' == '1' ]; then
        export DEBUG=1
      fi
      if [ '$(onnx_ml)' == '1' ]; then
        export ONNX_ML=1
      fi
      export CMAKE_ARGS="-DONNXIFI_DUMMY_BACKEND=ON -DONNX_WERROR=ON"
      if [ '$(onnx_lite)' == '1' ]; then
        export CMAKE_ARGS="${CMAKE_ARGS} -DONNX_USE_LITE_PROTO=ON"
      fi
      export ONNX_NAMESPACE=ONNX_NAMESPACE_FOO_BAR_FOR_CI
      python setup.py --quiet install
    displayName: 'Install ONNX and dependencies'

  - script: |
      source py$(python.version)/bin/activate

      # lint python code
      python -m pip install -q flake8
      flake8 onnx
      if [ $? -ne 0 ]; then
        echo "flake8 returned failures"
        exit 1
      fi

      # check line endings to be UNIX
      find . -type f -regextype posix-extended -regex '.*\.(py|cpp|md|h|cc|proto|proto3|in)' | xargs dos2unix --quiet
      git status
      git diff --exit-code

      # check auto-gen files up-to-date
      python onnx/defs/gen_doc.py
      python onnx/gen_proto.py -l
      python onnx/gen_proto.py -l --ml
      python onnx/backend/test/stat_coverage.py

      git status
      git diff --exit-code -- . ':(exclude)onnx/onnx-data.proto' ':(exclude)onnx/onnx-data.proto3'
      if [ $? -ne 0 ]; then
        echo "git diff returned failures"
        exit 1
      fi

      # Do not hardcode onnx's namespace in the c++ source code, so that
      # other libraries who statically link with onnx can hide onnx symbols
      # in a private namespace.
      ! grep -R --include='*.cc' --include='*.h' 'namespace onnx' .
      ! grep -R --include='*.cc' --include='*.h' 'onnx::' .

      pytest
      if [ $? -ne 0 ]; then
        echo "pytest failed"
        exit 1
      fi

      # onnx c++ API tests
      export LD_LIBRARY_PATH="./.setuptools-cmake-build/:$LD_LIBRARY_PATH"
      ./.setuptools-cmake-build/onnx_gtests
      if [ $? -ne 0 ]; then
        echo "onnx_gtests failed"
        exit 1
      fi

      ./.setuptools-cmake-build/onnxifi_test_driver_gtests onnx/backend/test/data/node
      if [ $? -ne 0 ]; then
        echo "onnxifi_test_driver_gtests failed"
        exit 1
      fi

      # Mypy only works with our generated _pb.py files when we install in develop mode, so let's do that
      python -m pip uninstall -y onnx
      python -m pip install -q --no-use-pep517 -e .[mypy]
      python setup.py --quiet typecheck
      if [ $? -ne 0 ]; then
        echo "type check failed"
        exit 1
      fi
      python -m pip uninstall -y onnx
      rm -rf .setuptools-cmake-build
      python -m pip install -q .

    displayName: 'Run ONNX tests'
