# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

name: Auto update documentation/backend test data
on:
  pull_request_target:
  workflow_dispatch:

permissions:  # set top-level default permissions as security best practice
  contents: read # Check https://github.com/ossf/scorecard/blob/7ce8609469289d5f3b1bf5ee3122f42b4e3054fb/docs/checks.md#token-permissions

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
    cancel-in-progress: true

jobs:
  auto-update-doc:
    if: contains( github.event.pull_request.labels.*.name, 'auto update doc')
    runs-on: ubuntu-24.04
    permissions:
        contents: write

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        # Checkout the branch made in the fork. Will automatically push changes
        # back to this branch.
        ref: ${{ github.head_ref }}
        persist-credentials: true # cmd_tools contains git commands
        
    - name: Setup Python
      uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
      with:
        python-version: "3.11"
        
    - name: Install ONNX from source and update documentation
      run: |
        source workflow_scripts/protobuf/build_protobuf_unix.sh 3
        python -m pip install -q --upgrade pip
        python -m pip install -r requirements-release.txt
        git submodule update --init --recursive
        export ONNX_ML=1
        pip install --verbose -e .

        python onnx/defs/gen_doc.py
        python onnx/gen_proto.py -l
        python onnx/gen_proto.py -l --ml
        python onnx/backend/test/stat_coverage.py

        python onnx/backend/test/cmd_tools.py generate-data --diff

        git diff -- . ':(exclude)onnx/onnx-data.proto' ':(exclude)onnx/onnx-data.proto3'

    - name: Commit changes with updated files
      uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79 # v5.1.0
      with:
        commit_message: CI:apply auto updated documentation/backend test data
        commit_options: "--signoff"
