name: Optional_Clang_Tidy_Review

on:
  pull_request:
    branches: [ "main", rel-* ]
    paths:
      - "**.cc"
      - "**.h"
  workflow_dispatch:

permissions:  # set top-level default permissions as security best practice
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      # Pleaes note that it won't cause any failure here; it will only post comments in PRs
      - name: clang-tidy review
        uses: ZedThree/clang-tidy-review@4923dc7cbb13a291cecc8507a89f70ed25ac9ce9 # v0.17.1
        with:
          apt_packages: "libprotobuf-dev,protobuf-compiler"
          cmake_command: "cmake -S . -B .setuptools-cmake-build -DCMAKE_EXPORT_COMPILE_COMMANDS=on -DONNX_USE_PROTOBUF_SHARED_LIBS=ON"
          build_dir: ".setuptools-cmake-build"
          exclude: "/third_party/*"
          split_workflow: true
      - uses: ZedThree/clang-tidy-review/upload@4923dc7cbb13a291cecc8507a89f70ed25ac9ce9 # v0.17.1
