# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

# This standalone CI is needed for commenting in PRs from forks
name: Post clang-tidy review comments

on:
  workflow_run:
    # The name field of the lint action
    workflows: ["Optional_Clang_Tidy_Review"]
    types:
      - completed

permissions:
  checks: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ZedThree/clang-tidy-review/post@8e835e573551b213a7da2ccb4e9560a4785e46f4 # v0.22.2
        with:
          lgtm_comment_body: ""
          # Use annotations instead of comments
          annotations: true
          max_comments: 10
