# This standalone CI is needed for commenting in PRs from forks
name: Post clang-tidy review comments

on:
  workflow_run:
    # The name field of the lint action
    workflows: ["Optional_Clang_Tidy_Review"]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ZedThree/clang-tidy-review/post@2c55ef8cfc9acb3715d433e58aea086dcec9b206 # v0.13.0
        with:
          lgtm_comment_body: ""
          # Use annotations instead of comments
          annotations: true
          max_comments: 10