# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

name: Optional_Clang_Tidy_Review

on:
  pull_request:
    branches: [ "main", rel-* ]
    paths:
      - "**.cc"
      - "**.h"
  workflow_dispatch:

permissions:  # set top-level default permissions as security best practice
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      # Please note that it won't cause any failure here; it will only post comments in PRs
      - name: clang-tidy review
        uses: ZedThree/clang-tidy-review@8e835e573551b213a7da2ccb4e9560a4785e46f4 # v0.22.2
        with:
          apt_packages: "libprotobuf-dev,protobuf-compiler"
          cmake_command: "cmake -S . -B .setuptools-cmake-build -DONNX_USE_PROTOBUF_SHARED_LIBS=ON"
          build_dir: ".setuptools-cmake-build"
          exclude: "/third_party/*"
          split_workflow: true
      - uses: ZedThree/clang-tidy-review/upload@8e835e573551b213a7da2ccb4e9560a4785e46f4 # v0.22.2
