# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

name: Caller Workflow
on: 
  schedule:
    # Run weekly on Monday 00:00
    - cron:  '00 00 * * MON'
  push:
    branches: [main, rel-*]
  pull_request:
    branches: [main, rel-*]
  workflow_dispatch:    

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs: 

  call-workflow-ubuntu_x86:    
    strategy:
      matrix:
        os: ['ubuntu-latest']    
    uses: ./.github/workflows/release_linux_x86_64.yml   
    with:            
      os: "linux_x86_64" 

  call-workflow-ubuntu_aarch64:    
    strategy:
      matrix:
        os: ['ubuntu-latest']    
    uses: ./.github/workflows/release_linux_aarch64.yml
    with:            
      os: "linux_aarch64"      

  call-workflow-win:    
    strategy:
      matrix:
        os: ['windows-latest']    
    uses: ./.github/workflows/release_win.yml
    with:      
      os: "win"      

  call-workflow-mac:    
    strategy:
      matrix:
        os: ['mac-latest']    
    uses: ./.github/workflows/release_mac.yml
    with:            
      os: "macos"   



  publish_to_testpypi: 
    # TODO Add a deployment step for reviewing https://docs.github.com/en/actions/managing-workflow-runs/reviewing-deployments
    name: Release (Publish to testpypi, onnxweekly)
    runs-on: ubuntu-latest
    needs: [call-workflow-ubuntu_x86, call-workflow-ubuntu_aarch64, call-workflow-mac, call-workflow-win]
    if: (needs.call-workflow-mac.result == 'success') || (needs.call-workflow-ubuntu_x86.result == 'success') || (needs.call-workflow-ubuntu_aarch64.result == 'success') || (needs.call-workflow-win.result == 'success')

    environment:      
      name: testpypi 
      url: https://pypi.org/p/onnx

    permissions:
      contents: write  # IMPORTANT: mandatory for making GitHub Releases
      id-token: write  # IMPORTANT: mandatory for sigstore     

    steps:

      - uses: actions/download-artifact@v4
        with:
          pattern: wheels* 
          path: dist
          merge-multiple: true

      - name: Publish distribution to TestPyPI
        if: (github.repository_owner == 'onnx')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:   
          repository-url: https://test.pypi.org/legacy/
          verbose: true     
          print-hash: true  

