# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

name: Test source dist of preview build at onnx-weekly

on:
  schedule:
    - cron:  '0 0 * * 2'
  workflow_call:
    inputs:
      os:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      os:
        required: true
        type: string

permissions:
  contents: read

jobs:

  test_sdist_preview:

    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04, windows-latest]
        python-version: ['3.10','3.12']
        target-architecture: ['arm64', 'x86_64']
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:

        - name: Checkout repository
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
          with:
            submodules: 'recursive'
            persist-credentials: false

        - name: Test preview build source distribution from PyPI
          if: (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule')
          run: |
            python -m pip uninstall -y onnx-weekly
            python -m pip install --upgrade pip
            python -m pip install setuptools
            python -m pip install --use-deprecated=legacy-resolver --no-binary onnx-weekly onnx-weekly
            python -m pip install pytest ml_dtypes pillow parameterized
            pytest

        - name: Test preview build source distribution from test.PyPI
          if: (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule')
          run: |
            python -m pip uninstall -y onnx-weekly
            python -m pip install setuptools
            python -m pip install -i https://test.pypi.org/pypi/ --use-deprecated=legacy-resolver --no-binary onnx-weekly onnx-weekly
            python -m pip install pytest ml_dtypes pillow parameterized
            pytest
