# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

name: WindowsRelease_aarch64

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      build_mode:
        required: true
        type: string

permissions:
  contents: read

jobs:
  build:
    if: github.event_name != 'pull_request' || startsWith(github.base_ref, 'rel-') || contains(github.event.pull_request.labels.*.name, 'run release CIs')
    runs-on: windows-11-arm
    strategy:
      matrix:
        python-version: ['3.13t', '3.12', '3.11']
        architecture: ['arm64']
    steps:
    - name: Checkout ONNX
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
         submodules: 'recursive'
         persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.architecture }}

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0.0
      with:
        msbuild-architecture: ${{ matrix.architecture }}

    - name: Install Python dependencies
      run: |
        python -m pip install -q --upgrade pip
        python -m pip install -r requirements-release_build.txt

    - name: Build ONNX wheel
      id: build_wheel
      run: |
        $cmake_arch = 'ARM64'

        .\workflow_scripts\protobuf\build_protobuf_win.ps1 -cmake_arch $cmake_arch

        echo "Install ONNX"
        $Env:ONNX_ML=1
        $Env:CMAKE_ARGS="-DONNX_USE_PROTOBUF_SHARED_LIBS=OFF -DONNX_USE_LITE_PROTO=ON -DONNX_WERROR=ON"

        if ( '${{ inputs.build_mode }}' -ne 'release') {
          echo "Build preview build whl package"
          (Get-Content -Path 'pyproject.toml') | ForEach-Object { $_ -replace 'name = "onnx"', 'name = "onnx-weekly"' } | Set-Content -Path 'pyproject.toml'
          $Env:ONNX_PREVIEW_BUILD=1
        }
        python -m build --wheel
        Get-ChildItem -Path dist/*.whl | foreach {python -m pip install --upgrade $_.fullname --no-deps}

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      if: (steps.build_wheel.outcome == 'success') && (inputs.build_mode == 'preview' || !contains(matrix.python-version, 'dev'))
      with:
        name: wheels-${{ inputs.os }}-${{ matrix.python-version }}-${{matrix.architecture}}
        path: ./dist

    - name: Check abi3 compatibility with abi3audit
      if: steps.build_wheel.outcome == 'success'
      run: |
        if [ $(ls dist/*.whl | wc -l) -eq 1 ]; then
            echo "Exactly one wheel file found."
        else
            echo "Multiple or no wheel files found."
        fi
        for whl in dist/*.whl; do
          echo "Checking abi3 compatibility for $whl"
          python -m pip install -q abi3audit
          python -m abi3audit -v "$whl"
        done
      shell: bash
