# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

name: sdistRelease

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      build_mode:
        required: true
        type: string
      python_versions:
        required: false
        type: string
        default: '3.12'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}-sdist

jobs:
  build:
    if: github.event_name != 'pull_request' || startsWith( github.base_ref, 'rel-') || contains( github.event.pull_request.labels.*.name, 'run release CIs')
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ['3.10']
        target-architecture: ['arm64']

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
        submodules: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Validate Python versions input
      run: |
        echo "Python versions requested: ${{ inputs.python_versions }}"
        echo "Building source distribution for build mode: ${{ inputs.build_mode }}"

    - name: Install Python dependencies
      run: |
        python -m pip install -q --upgrade pip
        python -m pip install -q -r requirements-release_build.txt

    - name: Set git hash and source date epoch
      run: |
        echo "GIT_HASH=$(git rev-parse HEAD)" >> $GITHUB_ENV
        echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV

    - name: Build source distribution (preview build / weekly)
      if: ${{ inputs.build_mode == 'preview' }}
      run: |
        git clean -xdf
        sed -i 's/name = "onnx"/name = "onnx-weekly"/' 'pyproject.toml'
        ONNX_PREVIEW_BUILD=1 python -m build --sdist

    - name: Build source distribution (scientific build)
      if: ${{ inputs.build_mode == 'scientific' }}
      run: |
        git clean -xdf
        ONNX_SCIENTIFIC_PYTHON_BUILD=1 python -m build --sdist

    - name: Build source distribution (for release)
      if: ${{ inputs.build_mode == 'release' }}
      run: |
        git clean -xdf
        python -m build --sdist

    - name: Upload sdist
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: sdist
        path: |
            ./dist/*.tar.gz
