# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

# Runs model checker/shape_inference/version_converter for all models
name: Weekly CI with the latest ONNX and ONNX Model Zoo

on:
  schedule:
    # run weekly on Sunday 23:59
    - cron:  '59 23 * * SUN'
  pull_request:
    branches: [main, rel-*]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  build:
    if: github.event_name != 'pull_request' || contains( github.event.pull_request.labels.*.name, 'test ONNX Model Zoo')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      name: Checkout repo
      with:
        submodules: recursive
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.12'

    - name: Build and install ONNX from source
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[reference]" -v

    - name: Test all models with onnx.checker, onnx.shape_inference, onnx.version_converter
      run: |
        python workflow_scripts/test_model_zoo.py
